[Desktop Entry]
Type=Application
Exec=python3 /home/sparkmaster/projects/spark-indicator/spark_indicator.py
Icon=/home/sparkmaster/projects/spark-indicator/icons/spark.png
Name=Spark Indicator
Terminal=true
Name[en_US]=spark-indicator.desktop

# set full paths to script and icon
# copy this file to ~/.local/share/applications/
# set execute permission so it is accessible from the Dash
